.header__lang-link {
  margin-bottom: 6px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  text-align: right;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  margin-right: 18px;
  opacity: 1.0;
}

.header__lang-link:nth-child(2) {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .header__lang-link {
  }
}

@media screen and (max-width: 768px) {
  .header__lang-link {
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 20px;
  }
}