.header__lang-link {
  max-width: 30px;
  width: 100%;
  min-height: 28px;
  font-family: "InterRegular";
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 18px;
}