.place__title {
  margin: 0;
  padding: 0;
  max-width: 460px;
  width: 100%;
  color: #fff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  grid-column-start: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    width: min-content;
    font-size: 42px;
    line-height: 46px;
  }
  .place:nth-of-type(4) > .place__title {
    width: max-content;
  }
}

@media screen and (max-width: 600px) {
  .place:nth-of-type(4) > .place__title {
    width: min-content;
  }
}

@media screen and (max-width: 525px) {
  .place__title {
    max-width: 489px;
    grid-column: 2/3;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    width: max-content;
    grid-column: 2/3;
    font-size: 32px;
    line-height: 35px;
  }
}