.page {
    width: 100%;
    background-color: #2a2c2f;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 48px minmax(calc(100% - 96px), 1184px) 48px;
    grid-template-rows: 28px 52px 56px minmax(min-content, max-content) 92px 18px 24px;
    justify-items: center;
}

@media screen and (max-width: 1024px) {
  .page {
    grid-template-rows: 28px 52px 48px minmax(min-content, max-content) 92px 18px 24px;
  }
}

@media screen and (max-width: 768px) {
  .page {
      
  }
}

@media screen and (max-width: 320px) {
  .page {
        
  }
}

@media screen and (min-width: 1280px) {
  .page {
    grid-template-columns: minmax(48px, calc((100% - 1184px)/2)) 1184px minmax(48px, calc((100% - 1184px)/2));
  }
}