.page {
    width: 100%;
    background-color: #2a2c2f;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 48px minmax(calc(100% - 96px), 1184px) 48px;
    grid-template-rows: 28px 52px 56px minmax(min-content, max-content) 92px minmax(min-content, max-content) 24px;
    justify-items: center;
}

@media screen and (max-width: 1024px) {
  .page {
    grid-template-columns: 48px minmax(calc(100% - 96px), 1024px) 48px;
    grid-template-rows: 28px 52px 48px minmax(min-content, max-content) 92px minmax(min-content, max-content) 24px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: 24px minmax(calc(100% - 48px), 768px) 24px;
    grid-template-rows: 28px 52px 48px minmax(min-content, max-content) 88px minmax(min-content, max-content) 24px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    grid-template-columns: 16px minmax(calc(100% - 32px), 320px) 16px;    
    grid-template-rows: 16px 42px 48px minmax(min-content, max-content) 64px minmax(min-content, max-content) 24px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    grid-template-columns: minmax(48px, calc((100% - 1184px)/2)) 1184px minmax(48px, calc((100% - 1184px)/2));
  }
}