.places {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(1, minmax(min-content, max-content));
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  row-gap: 80px;
}