.places {
  max-width: 984px;
  width: 100%;
  grid-column: 2/3;
  grid-row-start: 4;
  display: grid;
  grid-template-columns: repeat(1, minmax(min-content, max-content));
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    row-gap: 73px;
  }
}