.place__image {
  max-width: 460px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 2;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 925px) {
  .place__image {
    max-width: 372px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 680px) {
  .place__image {
    width: 80%;
  }
}

@media screen and (max-width: 525px) {
  .place__image {
    max-width: 489px;
    grid-column: 2/3;
    grid-row-start: 3;
  }
}

@media screen and (max-width: 352px) {
  .place__image {
    max-width: 320px;
    width: 100%;
    grid-column: 1/-1;
  }
}