.lead {
  max-width: 984px;
  width: 100%;
  grid-column: 2/3;
  grid-row-start: 1;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    justify-self: start;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 352px) {
  .lead {
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
  }
}