.lead {
    max-width: 984px;
    width: 100%;
    grid-column: 2/3;
    grid-row-start: 1;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    grid-column: 2/3;
    justify-self: start;
  }
}