.cover__subtitle {
    margin: 0;
    padding: 0;
    max-width: 360px;
    min-height: 66px;
    position: absolute;
    top: calc(100%*(429/740));
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    font-family: "InterRegular";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}