.cover__subtitle {
    margin: 0;
    padding: 0;
    max-width: 360px;
    width: 100%;
    min-height: 66px;
    position: absolute;
    bottom: calc(100%*(245/740));
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    font-family: "InterRegular";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    bottom: calc(100%*(195/640));
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    bottom: calc(100%*(115/480));
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    min-height: 48px;
    font-size: 14px;
    line-height: 0.875;
    bottom: calc(100%*(33/200));
  }
}