.content {
  background-color: #2a2c2f;
  max-width: 1184px;
  width: 100%;
  grid-column: 2/3;
  grid-row-start: 4;
  display: grid;
  grid-template-columns: calc((100% - 984px)/2) minmax(928px, 1fr) calc((100% - 984px)/2);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content)
  minmax(min-content, max-content) minmax(min-content, max-content);
  row-gap: 92px;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .content {
    grid-column: 1/-1;
    grid-template-columns: 48px fit-content(928px) 48px; /*minmax(min-content, 928px);*/
  }
}

@media screen and (max-width: 768px) {
  .content {
  }
}