.content {
/*
  grid-column-start: 2;
  grid-row-start: 4;
  display: grid;
  grid-template-columns: 1184px;
  grid-template-rows: 1005px 429px;
  justify-items: center;
  */
  background-color: #2a2c2f;
}