.place__text {
    grid-column-start: 2;
    grid-row-start: 2;
    max-width: 484px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    row-gap: 26px;
}

@media screen and (max-width: 1024px) {
  .place__text {
    max-width: 456px;
    row-gap: 27px;
  } 
}