.lead__route {
  max-width: 937.09px;
  width: calc(100% * (937.09/984));
  max-height: 262.99px;
  position: absolute;
  top: calc(100% * (90.21/615));
  left: calc(100% * (23.27/984));
}

@media screen and (max-width: 1024px) {
  .lead__image_route {
    max-width: 883.76px;
    max-height: 248.02px;
    top: calc(100% * (85.07/580));
    left: calc(100% * (21.95/928));
  }
}

@media screen and (max-width: 768px) {
  .lead__image_route {
    max-width: 731.38px;
    max-height: 205.26px;
    top: calc(100% * (70.410/480));
    left: calc(100% * (18.160/768));
  }
}

@media screen and (max-width: 320px) {
  .lead__image_route {
    max-width: 304.74px;
    max-height: 85.53px;
    top: calc(100% * (29.34/200));
    left: calc(100% * (7.57/320));
  }
}
