.footer__link {
  width: min-content;
  max-height: 18px;
  text-decoration: none;
  color: #fff;
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.125;
  text-align: left;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .footer__link {
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    max-height: 24px;
    font-size: 24px;
    line-height: 1.0;
  }
}