.lead__title {
    margin: 0;
    padding: 0;
    font-family: "InterBlack";
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    max-width: 720px;
    max-height: 200px;
    flex-basis: 720px;
    margin: 0 auto;
}