.footer__links {
  max-width: max-content;
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  grid-template-rows: repeat(1,minmax(min-content, max-content));
  column-gap: 18px;
}