.lead__image {
  max-width: 984px;
  width: 100%;
  height: 0;
  padding-top: 62.5%;
  background-image: url(../../../../images/lead__image_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
  }
}