.intro__text {
  margin: 0;
  padding: 0;
  margin: 40px 0 33px;
  max-width: 690px;
  width: 100%;
  min-height: 208px;
  color: #fff;
  font-family: "InterRegular", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1024px) {
  .intro__text {
  }  
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }  
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    min-height: 520px;
    margin-bottom: 34px;
  }  
}