.intro {
  grid-column: 2/3;
  grid-row-start: 2;
  justify-self: start;
  max-width: 703px;
  width: 100%;
  max-height: 429px;
  display: grid;
  justify-items: start;
}

@media screen and (max-width: 1024px) {
  .intro {
    grid-column: 1;
    max-width: 690px;
  }
}