.cover__background {
  max-width: 1184px;
  width: 100%;
  grid-column: 1;
  grid-row: 1/3;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
  }
}

@media screen and (max-width: 380px) {
  .cover__background {
    max-width: 380px;
  }
}

@media screen and (max-width: 340px) {
  .cover__background {
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
  }
}