.cover__title {
    margin: 0;
    padding: 0;
    max-width: 560px;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    color: #fff;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: flex-end;
    margin-top: 245px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
  }
}