.content__main-container {
  background-color: #2a2c2f;
  max-width: 1184px;
  width: 100%;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: calc((100% - 984px)/2) minmax(928px, 1fr) calc((100% - 984px)/2);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content)
  minmax(min-content, max-content);
  row-gap: 92px;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .content__main-container {
    grid-template-columns: calc((100% - 928px)/2) minmax(768px, 1fr) calc((100% - 928px)/2);
  }
}
  
@media screen and (max-width: 768px) {
  .content__main-container {
    grid-template-columns: 24px minmax(320px, 1fr) 24px;
    row-gap: 88px;  
  }
}

@media screen and (max-width: 690px) {
  .content__main-container {
    grid-template-columns: 22px minmax(320px, 1fr) 22px;
    row-gap: 80px;  
  }
}

@media screen and (max-width: 650px) {
  .content__main-container {
    grid-template-columns: 20px minmax(320px, 1fr) 20px;
    row-gap: 72px;  
  }
}

@media screen and (max-width: 525px) {
  .content__main-container {
    grid-template-columns: 18px minmax(320px, 1fr) 18px;
    row-gap: 70px;  
  }
}

@media screen and (max-width: 380px) {
  .content__main-container {
    grid-template-columns: 16px minmax(320px, 1fr) 16px;
    row-gap: 66px;  
  }
}
  
@media screen and (max-width: 352px) {
  .content__main-container {
    grid-template-columns: 16px fit-content(320px) 16px;
    row-gap: 64px;  
  }
}